[Unit]
Description=Proxmox VE AWS IMDS-compatible metadata service
Documentation=https://github.com/wyattanderson/pve-imds
Before=pveproxy.service pve-guests.service
After=network.target

[Service]
Type=notify
ExecStart=/usr/sbin/pve-imds
Restart=always
RestartSec=5s

# TODO: Consider enabling the systemd watchdog (WatchdogSec=30s) to detect
# freezes in the XDP redirect path or the proxy forwarding loop. Requires
# the daemon to call sd_notify("WATCHDOG=1") at regular intervals.

User=pve-imds
Group=pve-imds
DynamicUser=yes
# www-data is necessary to read the VM configuration files in /etc/pve/qemu-server
SupplementaryGroups=www-data
AmbientCapabilities=CAP_NET_ADMIN CAP_BPF CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_ADMIN CAP_BPF CAP_NET_RAW

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
RuntimeDirectory=pve-imds
RuntimeDirectoryMode=0750
MemoryDenyWriteExecute=yes

# TODO: if viable, use PrivateBPF= and BPFDelegate* restrictions to lock down
# BPF capabilities once https://github.com/cilium/ebpf/issues/1921 is resolved

[Install]
WantedBy=pveproxy.service pve-guests.service
