[Unit]
Description=Proxmox VE IMDS server
Documentation=https://github.com/wyattanderson/pve-imds
Before=pveproxy.service
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60s
StartLimitBurst=3

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/sbin/pve-imds
Restart=on-failure
RestartSec=5s
TimeoutStartSec=30s
TimeoutStopSec=30s

# TODO: Add WatchdogSec=30s once daemon implements periodic sd_notify(WATCHDOG=1) pings

StandardOutput=journal
StandardError=journal

User=pve-imds
Group=pve-imds
DynamicUser=yes
# www-data is necessary to read the VM configuration files in /etc/pve/qemu-server
SupplementaryGroups=www-data
AmbientCapabilities=CAP_NET_ADMIN CAP_BPF CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_ADMIN CAP_BPF CAP_NET_RAW

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ReadOnlyPaths=/etc/pve/qemu-server
RuntimeDirectory=pve-imds
RuntimeDirectoryMode=0750
MemoryDenyWriteExecute=yes
UMask=0027

RestrictAddressFamilies=AF_XDP AF_NETLINK AF_UNIX AF_INET
SystemCallFilter=@system-service @network-io bpf perf_event_open
SystemCallErrorNumber=EPERM
SystemCallArchitectures=native

ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictNamespaces=yes

# TODO: if viable, use PrivateBPF= and BPFDelegate* restrictions to lock down
# BPF capabilities once https://github.com/cilium/ebpf/issues/1921 is resolved

[Install]
WantedBy=multi-user.target
